body{
  background-color: lightpink;
  display: flex;
  flex-wrap: flex
  
}
.peen{
  color:;
  text-align: center;
  font-size: 3.5em;
  font-family: sans-serif;
}

.fire{
  font-size: 3.5em;
  color: crimson;
  margin-left: 4em;
  font-family: sans-serif;
  text-shadow: 2px 2px black
}